<% if reward.medal %>
  <div class="medal">
    <div class="image"><%= image_tag reward.medal.image %></div>
    <div class="name"><%= reward.medal.name %></div>
    <div class="description"><%= reward.medal.description %></div>
  </div>
<% end %>

<div class="points"><%= reward.points %></div>
