<!DOCTYPE html>
<html>
<head>
  <title>Gamification</title>
  <%= stylesheet_link_tag    "gamification/application", media: "all" %>
  <%= javascript_include_tag "gamification/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
